.btn-rounded {
    border-radius: 40px !important;
    padding-left: 3rem;
    padding-right: 3rem;
}

.formulario {
    margin-top: 1rem;
}

.texto-cyan {
    color: rgb(111, 219, 156) !important;
}

.bg-cyan {
    background-color: rgb(111, 219, 156) !important;
}
